.default {
  min-width: 150px;
  height: 40px;
  background-color: #f3f3f3;
  border-radius: 5px;
  border: none;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
  cursor: pointer;
}

.default:hover {
  background-color: #daa520;
}

.active {
  min-width: 150px;
  height: 40px;
  background-color: #daa520;
  border-radius: 5px;
  border: none;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 375px) and (max-width: 765px) {
  .default,
  .active {
    width: 100px;
    height: 30px;
    font-size: 0.6rem;
  }
}

@media (min-width: 375px) and (max-width: 1023px) {
  .default,
  .active {
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) and (max-width: 1444px) {
  .default,
  .active {
    font-size: 0.9rem;
  }
}
