.container {
  width: 60%;
  min-height: 100vh;
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 50px;
}

.nav {
  display: flex;
  flex: 1;
  gap: 10px;
  justify-content: space-evenly;
  margin: 40px 0;
}

.subtitulo {
  color: #daa520;
  font-size: 2rem;
  font-family: "Dancing Script";
  text-align: center;
  margin: 40px 0 0;
}

.main {
  width: 100%;
  background-color: #f3f3f3;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 1.5rem;
}
.message {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 375px) and (max-width: 765px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 50px;
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .nav,
  .searchInput {
    padding: 0 1.3rem;
  }
  .subtitulo {
    font-size: 1.5rem;
  }

  .main {
    width: 100%;
    padding: 1.3rem;
  }
}

@media (min-width: 766px) and (max-width: 1023px) {
  .container {
    width: 100%;
    padding-bottom: 50px;
  }
  .nav,
  .searchInput,
  .main {
    padding: 0 1rem;
  }
  .nav {
    flex-wrap: wrap;
  }
  .main {
    padding-bottom: 50px;
  }
}

@media (min-width: 1024px) and (max-width: 1444px) {
  .container {
    width: 100%;
    padding-bottom: 50px;
  }
  .nav,
  .searchInput,
  .main {
    padding: 0 1.5rem;
  }
  .main {
    padding-bottom: 50px;
  }
}
