.container {
  width: 70%;
  min-height: 100vh;
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;
}

.nav {
  display: flex;
  flex: 1;
  gap: 10px;
  justify-content: space-evenly;
  margin: 40px 0;
}

.subtitulo {
  color: #daa520;
  font-size: 2rem;
  font-family: "Dancing Script";
  text-align: center;
  margin: 40px 0 0;
}

.main {
  width: 100%;
  background-color: #f3f3f3;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 1.5rem;
}
