@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700);

.banner {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  position: absolute;
  width: 50%;
  color: #daa520;
  text-align: center;
  transform: translate(0, 10%);
}

.text h1 {
  font-size: 3.8rem;
  color: #fff;
  letter-spacing: 5px;
  font-family: "Poppins", cursive;
  margin: 0;
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
}

.text p {
  font-family: "Dancing Script", cursive;
  font-size: 2.2rem;
  margin-top: 1rem;
}

@media (min-width: 375px) and (max-width: 765px) {
  .banner {
    width: 100%;
  }
  .image {
    width: 100%;
  }
  .text {
    transform: translate(0, 25%);
  }
  .text h1 {
    font-size: 1.3rem;
  }
  .text p {
    font-size: 0.8rem;
  }
}

@media (min-width: 766px) and (max-width: 1023px) {
  .text {
    transform: translateY(20%);
  }
  .text h1 {
    font-size: 2.6rem;
  }
  .text p {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) and (max-width: 1444px) {
  .text {
    width: 60%;
    transform: translate(-5%, 10px);
  }
  .text h1 {
    font-size: 3rem;
  }
  .text p {
    font-size: 1.8rem;
  }
}
