@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700);

.banner {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  position: absolute;
  width: 50%;
  color: #daa520;
  text-align: center;
}

.text h1 {
  font-size: 4.5rem;
  font-family: "Poppins", cursive;
  margin: 0;
  text-shadow: -5px -5px 25px#daa520;
}

.text p {
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
}
